/* General */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
	list-style: none !important;
	outline: none !important;
	margin: 0;
	padding: 0;
	--color-1: #d12231;
	--color-2: #0e4380;
	--color-3: #062952;
	--color-4: #a31723;
}
html {
	scroll-behavior: smooth;
}
body {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	overflow-x: hidden !important;
	overflow-y: scroll;
}
a {
	text-decoration: none !important;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
span, a {
	display: inline-block;
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	color: #151515;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.section-padding {
	padding: 50px 0px;
}
.section-title {
	padding-bottom: 50px;
}
.section-title h3 {
	color: var(--color-2);
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 12px;
}
.section-title p {
	width: 60%;
	margin: 15px auto 20px;
}
.section-title-line {
	background: #ccc;
	content: "";
	height: 1px;
	position: absolute;
	left: calc(50% - 87px);
	width: 175px;
}
.section-title-line:after {
	background: var(--color-1);
	bottom: -1px;
	content: "";
	height: 3px;
	left: calc(50% - 22px);
	position: absolute;
	width: 45px;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-bottom: 100px !important;
}
.pd-lt-10 {
	padding-left:10px;
}
.no-padding {
	padding: 0px !important;
}

.sub-title-paragraph p {
	padding-top: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}

.section-bg {
	background-color: #fafbfd;
}

/* Nav */
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}

.navbar .navbar-brand img {
	width: 100px;
}
.navbar .nav-item {
	margin: 0 15px;
	padding: 0;
	font-size: 16px;
}
.navbar .nav-item .nav-link {
	color: #fff;
	transition: 0.5s ease;
}
.navbar .nav-item .nav-link:hover {
	color: var(--color-1);
}
.navbar .nav-item .active {
	color: var(--color-1);
}
.navbar ul .nav-item:nth-child(5) .nav-link:hover {
	color: #fff
}
.navbar .nav-item a {
	color: #ddd;
	font-weight: 600;
	cursor: pointer;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.cart {
	position: relative;
	top: 3px;
	color: #fff;
	margin-left: 20px;
	font-size: 30px;
	transition: 0.5s ease;
}
.cart-counter {
	position: absolute;
	top: 25px;
	right: -10px;
	font-size: 13px;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
  background:var(--color-1);
  text-align:center;
  border-radius:50%;
	transition: 0.1s ease;
}
.cart:hover {
	color: #fff;
}

.navbar .nav-box {
	display: flex;
	flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
	.navbar .container {
		display: block
	}
	.navbar .nav-box {
		display: block;
	}
	.navbar .nav-icons {
		position: absolute;
		right: 20px;
		top: 18px;
	}
	.cart {
		right: 20px;
	}
}

.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #fff;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background:  var(--color-3);
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.178);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.164);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #333;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #333;
}
.nav-scroll .nav-link:hover:after {
	background-color: var(--color-2);
}
.nav-scroll .active {
	position: relative;
}

main {
	position: relative;
	top: 90px;
}
/* Hero */
.banner {
	/* background: url(../images/bg-1.jpg);
	background-position: center;
	background-size: cover; */
	color:#ffffff;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.banner img {
	width: 100%;
}
.banner-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner .container {
	width: 50%;
	margin-top: 150px;
	padding: 30px 10px;
	border-radius: 20px;
	background-color: #062a5260;
}
.banner h1 {
	color:#ffffff;
	font-family: 'Open Sans';
}
.banner h4 {
	margin-top: 20px;
	color:var(--color-1);
}
.banner h6 {
	margin-top: 10px;
	color:#ffffff;
}
.banner-btn {
	background: var(--color-1);
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	transition: 0.3s ease;
}
.banner-btn:hover {
	background: #ffffff;
	color:var(--color-1);
}

/* About Us */
.about-us {
	margin-top: 130px;
}
.about-us .col-xl-3 {
	margin-bottom: 30px;
}
.about-us .benefits-box {
	height: 240px;
	background-color: #fff;
	padding: 70px 30px 30px 30px;
	border-radius: 3px;
	box-shadow: 0 0 10px #80808042;
	transition: 0.3s ease;
}
.about-us .benefits-box:hover {
	background-color: var(--color-4);
}
.about-us .benefits-box .benefits-content {
	position: relative;
	transition: 0.5s ease;
}
.about-us .benefits-box:hover .benefits-content {
	margin-top: -20px;
}
.about-us .benefits-box i {
	font-size: 35px;
	color: var(--color-1);
	margin-bottom: 20px;
	transition: 0.3s ease;
}
.about-us .benefits-box:hover i {
	color: #fff;
}
.about-us .benefits-box h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	transition: 0.3s ease;
}
.about-us .benefits-box:hover h5 {
	color: #fff;
}


/* Pricing */
.pricing .pricing-box {
	padding: 40px;
	padding-bottom: 50px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 25px 0px rgba(58, 57, 97, 0.466);
	box-shadow: 0px 5px 25px 0px rgba(58, 57, 97, 0.466);
	background-color: #9fabb6;
	background-image: linear-gradient(315deg, #9fabb6 0%, #5c6169 74%);	
	color: #fff;
	position: relative;
	overflow: hidden;
}
.pricing .pricing-box:after {
	content: "";
	position: absolute;
	z-index: 4;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.pricing .pricing-box:hover:after {
	width: 120%;
	background-color: rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.pricing .row .col-md-6:nth-child(3) .pricing-box {
	background-color: #f8c351;
	background-image: linear-gradient(315deg, #f8c351 0%, #c78d19 74%);
} 
.pricing .pricing-box h4 {
	font-size: 24px;
	font-weight: 500;
	margin: 10px 0px;
	position: relative;
	padding-bottom: 14px;
	color: #fff;
}
.pricing .pricing-box h4:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 3px;
	background-color: var(--color-1);
	left: calc(50% - 30px);
}
.pricing .pricing-box h5 {
	color: #dbe5e9;
	font-family: 'Dancing Script', cursive;
	font-size: 42px;
	letter-spacing: 2px;
	margin-top: 30px;
}
.pricing .row .col-md-6:nth-child(3) .pricing-box h5 {
	color: #ffecc7;
}
.pricing .pricing-box h6 {
	color: #eee;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.pricing .pricing-box h6 span {
	text-decoration: line-through !important;
}
.pricing .pricing-box h3 {
	color: #fff;
	font-size: 38px;
	margin: 30px 0;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
}
.pricing .row .col-md-6:nth-child(3) .pricing-box h3 {
	color: #fff;
}
.pricing .pricing-box ul li {
	position: relative;
	margin: 30px 0;
	font-weight: 600;
	font-size: 18px;
}
.pricing .pricing-box ul li:after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #e0e0e0;
}
.pricing .row .col-md-6:nth-child(3) .pricing-box ul li {
	color: #fff;
}
.plus-minus {
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
}
.plus-minus .count-display {
	width: 40px;
	height: 40px;
	background-color: #e0e0e0;
	color: #222;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plus-minus .button {
	width: 40px;
	height: 40px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: #fff;
	background-color: #222;
	cursor: pointer;
}
.add-to-cart-button {
	position: relative;
	z-index: 10;
	cursor: pointer;
	margin-top: 20px;
	background-color: #ffffff3b;
	padding: 10px 20px;
	border: 2px solid #222;
	color: #222;
	font-weight: 700;
	text-transform: uppercase;
}
/* .pricing .pricing-box button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: transparent;
	border: 2px solid #222;
	color: #fff;
	background-color: #222;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
} */

/* Other Details */
.other-details .col-lg-4 {
	margin-bottom: 20px;
}
a.anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}
.other-details .other-detail {
	padding: 20px;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 15px #ccc;
	background-color: #fff;
	display: flex;
	align-items: center;
}
.other-details .row .col-lg-4:nth-child(3) .other-detail {
	background-color: var(--color-4);
}
.other-details .other-detail .other-icon {
	min-width: 55px;
}
.other-details .other-detail .other-icon i {
	padding: 9px;
	color: var(--color-2);
	border-radius: 5px;
	border: 2px solid #ddd;
	transition: 0.3s ease;
}
.other-details .row .col-lg-4:nth-child(3) .other-detail i {
	background-color: #fff;
}
.other-details .other-detail:hover .other-icon i {
	background-color: var(--color-1) !important;
	border: 2px solid var(--color-1);
	color: #fff;
}
.other-details .other-detail .other-text {
	font-weight: 600;
}
.other-details .row .col-lg-4:nth-child(3) .other-text {
	color: #fff;
}

/* Footer */
.footer-copy {
	background: var(--color-3);
	color: #ffffff;
	text-align: center;
	padding: 20px 0px;
	margin-top: 60px;
	width: 100%;
	position: relative;
	bottom: -30px;
}
.footer-copy p {
	margin-bottom: 0;
}
.footer-copy.footer-bottom {
	position: fixed;
	bottom: 0;
}

/* Media  Queries */
@media all and (max-width:991px) {
	.navbar .navbar-collapse {
    overflow: hidden;
    color: #fff !important;
		margin-left: 20px;
    padding: 10px 0;
	}
	.banner .container {
		width: 600px
	}
	.about-us .section-img img {
		padding: 10%;
	}
}
@media all and (max-width:768px) {
	.nav-scroll .navbar-brand img, .navbar-brand img{
		transform: scale(0.75) !important;
		-webkit-transform: scale(0.75) !important;
	}
	.navbar .nav-item {
		margin: 0 10px;
		font-size: 14px;
	}
	.banner .container {
		margin-top: 50px;
		width: 500px
	}
	.banner h1 {
		font-size: 26px;
	}
	.banner h4 {
		font-size: 22px;
	}
	.banner h6 {
		font-size: 15px;
	}
	.section-title h3 {
		margin-bottom: 12px;
		font-size: 25px;
	}
	.section-padding {
		padding: 60px 0px;
	}
	.section-title {
		padding-bottom: 40px;
	}
	.about-us .section-info h3 {
		font-size: 25px;
	}
	.about-us .section-info ul li {
		font-size: 18px;
	}
	.other-details ol li {
		font-size: 18px;
	}
}
@media screen and (max-width: 576px) {
	.banner .container {
		width: 400px
	}
}
@media screen and (max-width: 450px) {
	.navbar .nav-item {
		margin: 0 5px;
	}
	.banner .container {
		width: 250px
	}
	.banner h1 {
		font-size: 17px;
	}
	.banner h4 {
		font-size: 16px;
	}
	.banner h6 {
		font-size: 13px;
	}
}


/* Cart */
.cart-items .table {
	border: 2px solid #DEE2E6;
}
.cart-items .table .thead-light {
	border-top: 2px solid #DEE2E6;
	border-bottom: none;
}
.cart-items .table .plus-minus {
	margin-top: 0;
	justify-content: flex-start;
}